<script>
	import data from './assets/data.json';
	import IconRemove from './assets/icon-remove.svg';
	import { selected } from './stores/selected';
	import JobCard from './components/JobCard.svelte';

	const iconRemove = `<img src="${IconRemove}" alt="icon-remove"/>`;
	const getJob = () => {
		let job = [];
		for (const d of data) {
			d.tags = [d.role, d.level, ...d.languages, ...d.tools];
			d.selected = true;
			if ($selected.length != 0) {
				for (const s of $selected) {
					if (d.tags.indexOf(s) === -1) d.selected = false;
				}
			}
			if (d.selected) job.push(d);
		}
		return job;
	};

	let job = getJob();
	const handleDeSelect = (text) => {
		const isFound = $selected.indexOf(text) !== -1;
		selected.update((cur) => {
			if (isFound) {
				return cur.filter((tag) => tag != text);
			} else {
				return [...cur, text];
			}
		});
		job = getJob();
	};

	const handleClear = () => {
		selected.set([]);
		job = getJob();
	};

	$: hidden = $selected.length === 0;
	$: innerWidth = 0;
  $: load = innerWidth !== 0 ? true : false
  $: loaded = load
  const mobileBreakPoint = 428
</script>

<svelte:window bind:innerWidth />

<svelte:head>
	<title>Frontend Mentor | Job Listings</title>
</svelte:head>

{#if loaded}
	{#if innerWidth <= mobileBreakPoint}
		<div class="layout">
			<div class="bg" />
			<div class="content">
				<div class="search" class:hidden>
					<div class="search-box">
						<div class="search-list">
							{#each $selected as s}
								<div class="search-item">
									<div class="label">{s}</div>
									<button class="icon-remove" on:click={() => handleDeSelect(s)}>
										{@html iconRemove}
									</button>
								</div>
							{/each}
						</div>
						<div style="flex-grow: 1;" />
						{#if $selected.length !== 0}
							<div class="clear-btn">
								<button id="clear" on:click={handleClear}>Clear</button>
							</div>
						{/if}
					</div>
				</div>
				<div class="job-board">
					<div>
						{#each job as card}
							<JobCard job={card} on:select={() => (job = getJob())} />
						{/each}
					</div>
				</div>
			</div>
		</div>
	{:else}
		<div class="layout">
			<div class="bg" />
			<div class="search" class:hidden>
				<div class="search-box">
					<div class="search-list">
						{#each $selected as s}
							<div class="search-item">
								<div class="label">{s}</div>
								<button class="icon-remove" on:click={() => handleDeSelect(s)}>
									{@html iconRemove}
								</button>
							</div>
						{/each}
					</div>
					<div style="flex-grow: 1;" />
					{#if $selected.length !== 0}
						<div class="clear-btn">
							<button id="clear" on:click={handleClear}>Clear</button>
						</div>
					{/if}
				</div>
			</div>
			<div class="job-board">
				<div>
					{#each job as card}
						<JobCard job={card} on:select={() => (job = getJob())} />
					{/each}
				</div>
			</div>
		</div>
	{/if}
{/if}

<style>

	@media (max-width: 375px) {
		.layout {
			width: 375px;
			max-width: 100vw;
			min-height: 100vh;
			height: max-content;
			padding-block-end: 10rem;
			background-color: var(--lighter);

			display: grid;
			grid-template-rows: 120px 35px 35px auto;
			grid-template-columns: 1fr 6fr 1fr;
		}

		.bg {
			grid-column: 1 / 4;
			grid-row: 1 / 3;
			background-color: var(--primary);
			background-image: url('./assets/bg-header-mobile.svg');
		}

		.content {
			grid-column: 2 / 3;
			grid-row: 2 / 5;
		}

		.job-board {
			width: 85vw;
			height: max-content;
			margin-block: 2.25rem;
			margin-inline: auto;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		.search {
			width: 85vw;
			height: fit-content;

			margin: auto;
			padding-inline: 1.25rem;
			padding-block: 1.25rem;
			border-radius: 0.35rem;
			background-color: white;
			box-shadow: 0 0.75rem 20px 2px hsla(180, 29%, 50%, 20%);

			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.search-box {
			width: 100%;
			display: flex;
		}

		.search-item {
			display: flex;
			width: max-content;
		}

		.search-list {
			display: flex;
			gap: 0.75rem;
			flex-wrap: wrap;
		}

		.clear-btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		#clear {
			font-size: 11px;
			font-weight: 700;
			color: var(--dark);
		}
	}
	@media (max-width: 428px) {
		.layout {
			width: 428px;
			max-width: 100vw;
			min-height: 100vh;
			height: max-content;
			padding-block-end: 10rem;
			background-color: var(--lighter);

			display: grid;
			grid-template-rows: 120px 35px 35px auto;
			grid-template-columns: 1fr 6fr 1fr;
		}

		.bg {
			grid-column: 1 / 4;
			grid-row: 1 / 3;
			background-color: var(--primary);
			background-image: url('./assets/bg-header-mobile.svg');
		}

		.content {
			grid-column: 2 / 3;
			grid-row: 2 / 5;
		}

		.job-board {
			width: 85vw;
			height: max-content;
			margin-block: 2.25rem;
			margin-inline: auto;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}

		.search {
			width: 85vw;
			height: fit-content;

			margin: auto;
			padding-inline: 1.25rem;
			padding-block: 1.25rem;
			border-radius: 0.35rem;
			background-color: white;
			box-shadow: 0 0.75rem 20px 2px hsla(180, 29%, 50%, 20%);

			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.search-box {
			width: 100%;
			display: flex;
		}

		.search-item {
			display: flex;
			width: max-content;
		}

		.search-list {
			display: flex;
			gap: 0.75rem;
			flex-wrap: wrap;
		}

		.clear-btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		#clear {
			font-size: 11px;
			font-weight: 700;
			color: var(--dark);
		}
	}

	@media (min-width: 428.1px) {
		.layout {
			max-width: 1440px;
			min-height: 100vh;
			height: max-content;
			margin: auto;
			padding-block-end: 10rem;
			background-color: var(--lighter);

			display: grid;
			grid-template-rows: 120px 35px 35px auto;
			grid-template-columns: 1fr 6fr 1fr;
		}

		.bg {
			grid-column: 1 / 4;
			grid-row: 1 / 3;
			background-color: var(--primary);
			background-image: url('./assets/bg-header-desktop.svg');
		}

		.search {
			grid-column: 2 / 3;
			grid-row: 2 / 4;

			width: 100%;
			padding-inline: 2.25rem;
			border-radius: 0.35rem;
			background-color: white;
			box-shadow: 0 0.75rem 20px 2px hsla(180, 29%, 50%, 20%);

			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.search-box {
			width: 100%;
			display: flex;
		}

		.search-list {
			display: flex;
			justify-content: space-evenly;
			gap: 1rem;
			width: max-content;
		}

		.search-item {
			display: flex;
			border-radius: 0.25rem;
			overflow: hidden;
		}

		.clear-btn {
			align-self: center;
		}

		#clear {
			font-size: 13px;
			font-weight: 700;
			color: var(--primary);
		}

		.icon-remove {
			display: flex;
			flex-direction: column;
			justify-content: center;

			padding-inline: 0.5rem;
			background-color: var(--primary);
		}

		.icon-remove:hover {
			background-color: var(--darker);
			color: white;
		}

		.job-board {
			height: max-content;
			margin-block-start: 2.75rem;
			grid-column: 2 / 3;

			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
		}
	}

	.icon-remove {
		display: flex;
		flex-direction: column;
		justify-content: center;

		padding-inline: 0.5rem;
		background-color: var(--primary);
	}

	.icon-remove:hover {
		background-color: var(--darker);
		color: white;
	}
	.hidden {
		visibility: hidden;
	}

	#clear:hover {
		color: var(--primary);
		text-decoration: underline solid var(--primary);
	}
</style>
