<script context="module">
</script>

<script>
	import { createEventDispatcher } from 'svelte';
	import TagList from './TagList.svelte';
	import Pill from './Pill.svelte';

	import Account from '../assets/account.svg';
	import EyecamCo from '../assets/eyecam-co.svg';
	import FaceIt from '../assets/faceit.svg';
	import Insure from '../assets/insure.svg';
	import LoopStudios from '../assets/loop-studios.svg';
	import Manage from '../assets/manage.svg';
	import MyHome from '../assets/myhome.svg';
	import PhotoSnap from '../assets/photosnap.svg';
	import Shortly from '../assets/shortly.svg';
	import TheAirFilterCompany from '../assets/the-air-filter-company.svg';

	export let job;
	export let innerWidth;
	const dispatch = createEventDispatcher();

	const logoSrc = {
		account: Account,
		'eyecam-co': EyecamCo,
		faceit: FaceIt,
		insure: Insure,
		'loop-studios': LoopStudios,
		manage: Manage,
		myhome: MyHome,
		photosnap: PhotoSnap,
		shortly: Shortly,
		'the-air-filter-company': TheAirFilterCompany
	};

  let mobileBreakPoint = 428
	$: innerWidth = 0;
</script>

<svelte:window bind:innerWidth />

{#if innerWidth <= mobileBreakPoint}
	<div class="job">
		<div class="job-logo">
			<img
				src={logoSrc[job.logo]}
				alt={job.company}
				width="{innerWidth > {mobileBreakPoint} ? 88 : 50}px"
				height="{innerWidth > {mobileBreakPoint} ? 88 : 50}px"
			/>
		</div>
		<div class="job-description">
			<div class={job.new === true ? 'new' : ''} />
			<div class="line" style="background-color: white;" />
			<div class="line job-hightlight">
				<div class="job-company">{job.company}</div>
				{#if job.new}
					<Pill text={'new'} />
				{/if}
				{#if job.featured}
					<Pill text={'featured'} />
				{/if}
			</div>
			<a href="#" class="line job-position">
				{job.position}
			</a>
			<div class="line job-opt">
				{job.postedAt}
				<span class="bullet">•</span>
				{job.contract}
				<span class="bullet">•</span>
				{job.location}
			</div>
			<div class="line job-tags">
				<TagList tagList={job.tags} on:select={() => dispatch('select')} />
			</div>
			<div class="end" />
		</div>
	</div>
{:else}
	<div class="job">
		<div class={job.new === true ? 'new' : ''} />
		<div class="job-details">
		<div class="job-logo">
			<img
				src={logoSrc[job.logo]}
				alt={job.company}
				width="{innerWidth > 375 ? 88 : 50}px"
				height="{innerWidth > 375 ? 88 : 50}px"
			/>
		</div>
			<div class="job-description">
				<div class="job-hightlight">
					<div style="padding-block: 0.05rem; padding-inline-end: 0.5rem;">{job.company}</div>
					{#if job.new}
						<Pill text={'new'} />
					{/if}
					{#if job.featured}
						<Pill text={'featured'} />
					{/if}
				</div>
				<div class="job-position">
					{job.position}
				</div>
				<div class="job-opt">
					{job.postedAt}
					<span class="bullet">•</span>
					{job.contract}
					<span class="bullet">•</span>
					{job.location}
				</div>
			</div>
			<div class="job-tags">
				<TagList tagList={job.tags} on:select={() => dispatch('select')} />
			</div>
		</div>
	</div>
{/if}

<style>
	@media (max-width: 428px) {
		.job {
			margin-block-end: 2rem;

			display: grid;
			grid-template-columns: 5px 1rem auto;
			grid-template-rows: 25px 25px auto;
		}

		.job-logo {
			grid-column: 3 / 4;
			grid-row: 1 / 3;
			z-index: 1;
		}

		.job-description {
			border-radius: 0.25rem;
			background-color: white;
			box-shadow: 0 0.75rem 20px 2px hsla(180, 29%, 50%, 20%);
			overflow: hidden;
			grid-column: 1 / -1;
			grid-row: 2 / -1;

			display: grid;
			grid-template-columns: 5px 1rem auto 1.5rem;
			grid-template-rows: 35px repeat(4, minmax(min-content, max-content));
		}

		.new {
			grid-column: 1 / 2;
			grid-row: 1 / -1;
			background-color: var(--primary);
		}

		.end {
			grid-column: 4 / 5;
			grid-row: 1 / -1;
		}

		.line {
			grid-column: 3 / 4;
		}

		.job-hightlight {
			width: max-content;
			font-size: 0.9rem;
			font-weight: 700;
			color: var(--primary);

			display: flex;
			gap: 0.5rem;
		}

		.job-company {
			padding-block: 0.05rem;
			padding-inline-end: 0.5rem;
		}

		.job-position {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

			width: max-content;
			padding-block: 0.75rem;

			font-size: 15px;
			font-weight: 700;
			color: var(--darker);
		}

		.job-position:hover {
			color: var(--primary);
			cursor: pointer;
		}

		.job-opt {
			width: 100%;
			padding-block-end: 1rem;
			border-bottom: 1px solid hsl(180 8% 52% / 0.5);

			font-size: 0.9rem;
			font-weight: 500;
			color: var(--dark);
		}

		.bullet {
			margin-inline: 0.25rem;
		}

		.job-tags {
			align-self: start;
			margin-block: 1rem;
		}
	}

	@media (min-width: 428.1px) {
		.job {
			margin-block-end: 2rem;
			background: white;
			border-radius: 0.35rem;
			box-shadow: 0 0.75rem 20px 2px hsla(180, 29%, 50%, 20%);

			display: grid;
			grid-template-columns: 5px auto;

			overflow: hidden;
		}

		.job-details {
			padding: 2rem;
			display: flex;
		}

		.job-description {
			flex-grow: 1;
			margin-inline: 1.5rem;

			display: flex;
			flex-direction: column;
		}

    .job-logo {
      min-width: 88px;
      max-width: 88px;

      display:flex;
      flex-direction: column;
      justify-content: center;
    }

		.job-hightlight {
			width: max-content;
			font-size: 14px;
			font-weight: 700;
			color: var(--primary);

			display: flex;
			gap: 0.5rem;
		}

		.job-position {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

			width: max-content;
			padding-block-start: 0.2rem;

			font-size: 18px;
			font-weight: 700;
			color: var(--darker);
		}

		.job-position:hover {
			cursor: pointer;
			color: var(--primary);
		}

		.job-opt {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;

			width: max-content;
			font-size: 15px;
			font-weight: 500;
			color: var(--dark);
		}

		.bullet {
			margin-inline: 0.75rem;
		}

		.job-tags {
			align-self: center;
		}

		.new {
			height: 100%;
			background: var(--primary);
		}
	}
</style>
