<script>
	export let text;
</script>

<div class={text === 'new' ? 'new' : 'featured'}>
	{text === 'new' ? 'NEW!' : 'FEATURED'}
</div>

<style>
	.new {
		background-color: var(--primary);
	}

	.featured {
		background-color: var(--darker);
	}

  .new, .featured {
    width: min-content;
    padding-inline: 0.55rem;
    padding-block-start: 0.35rem;
    border-radius: 2rem;

    color: white;
    font-size: 10px;
  }

  @media (max-width: 429px) {
  .new, .featured {
    width: min-content;
    padding-inline: 0.55rem;
    padding-block-start: 0.27rem;
    border-radius: 2rem;

    color: white;
    font-size: 0.7rem;
  }

  }

</style>
