<script>
	export let drawing;
	export let w = '88'
	export let h = '88'
  export let bw = w
  export let bh = h
</script>

<svg
  class={$$props.class}
  width={w}
  height={h}
  viewBox="0 0 {bw} {bh}">{@html drawing}</svg>
