<script>
	import { selected } from '../stores/selected';
  import {createEventDispatcher} from "svelte"

	// List of role, level, languages, tools,
	export let tagList;

  const dispatch = createEventDispatcher()
	const handleClick = (e) => {
		const text = e.target.innerText;
		const isFound = $selected.indexOf(text) !== -1;
		selected.update((cur) => {
			if (isFound) {
				return cur.filter((tag) => tag != text);
			} else {
				return [...cur, text];
			}
		})
    dispatch('select')
	};
</script>

<div class="tag-list">
	{#each tagList as tagName}
		<button on:click={handleClick} class="{$selected.indexOf(tagName) === -1 ? 'label tag-item' : 'label tag-item selected'}">{tagName}</button>
	{/each}
</div>

<style>
	.tag-list {
		display: flex;
		gap: 0.75rem;
    flex-wrap: wrap;
	}

	.tag-item {
		border-radius: 0.25rem;
	}

	.tag-item:hover,
	.selected {
		background-color: var(--primary);
		color: var(--light);
	}
</style>
